/* <editor-fold> -------------------------------------------------- FLIP CARD */

.flipcard{
  background-color: transparent;
  display:inline-block;
  position:relative;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -webkit-perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -moz-perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -o-perspective: 1000px; /* Remove this if you don't want the 3D effect */
  pointer-events:all;
  font-family: 'Roboto Regular';
}

.flipcardInner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}

.flipcard:not(.disable-flip):not(.is-clicked):hover .flipcardInner, .flipcard.is-flipped .flipcardInner {
  transform: rotateY(180deg);
}

.flipcard.is-flipped:not(.disable-flip):not(.is-clicked):hover .flipcardInner {
  transform: rotateY(0deg);
}

.flipcard:not(.disable-shadow) .flipcardBack,
.flipcard:not(.disable-shadow) .flipcardFront{
  box-shadow:0px 0px 15px rgb(0 0 0 / 33%);
}

.flipcardFront, .flipcardBack {
  position: absolute;
  border-radius:2em;
  width: 100%;
  height: 100%;
  overflow:hidden;
  z-index:10;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden; /* Safari */
  -moz-backface-visibility: hidden; /* Safari */
  -o-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipcardBack {
  transform: rotateY(180deg);
  background-color:#FFF;
  display:flex;
  justify-content: center;
  align-items: center;
}

.flipcardBack.name {
  background-color:#323232;
}

/* </editor-fold> ----------------------------------------------------------- */

/* <editor-fold> ------------------------------------------------ MEMBER CARD */

.memberCommCardWrapper{
  height:100%;
  width:100%;
}

.memberCommCardText{
  width:calc(100% - 4em);
  position:absolute;
  bottom:0;
  text-align:left;
  #FFF-space:nowrap;
  -webkit-font-smoothing:antialiased;
  overflow:hidden;
  color:#FFF;
  margin:2em;
  z-index:9;
}

.memberCommCardMainText{
  font-size:4em;
  line-height:100%;
  font-family: 'Roboto Regular';
}

.memberCommCardSubText{
  font-size:2.5em;
  line-height:100%;
  font-family:"Roboto Light", 'NotoSansJP Light';
}

.memberCommCardShadow{
  height:50%;
  width:100%;
  position:absolute;
  bottom:-1px;
  background-image:linear-gradient(rgba(255,0,0,0), rgba(0,0,0,.75));
}

.memberCommCardImage{
  object-fit:cover;
  width:100%;
  height:100%;
  object-position:center center;
}

/* </editor-fold> ----------------------------------------------------------- */

/* <editor-fold> -------------------------------------------EVENT / GOAL CARD */

.eventGoalCardWrapper{
  font-family: 'Roboto Regular';
  border-width:2em;
  border-style:solid;
  /* need 3.99em to get rid of weird #FFF line */
  height:calc(100% - 3.99em);
  width:calc(100% - 4em);
  background:#FFF;
}

.eventGoalTextWrapper{
  color:#323232;
  font-size:1.75em;
  line-height:125%;
  text-align:left;
  overflow:hidden;
  margin:1em;
  height:calc(100% - 4em);
  width:calc(100% - 2em);
}

.eventGoalBottomTextWrapper{
  border-top:1px solid #323232;
  display:flex;
  justify-content:space-between;
  position:absolute;
  bottom:0;
  color:#323232;
  width:calc(100% - 8em);
  padding:1.5em;
  padding-left:2em;
  padding-right:2em;
  margin-bottom:2em;
  font-size:1em;
}

/* </editor-fold> ----------------------------------------------------------- */

/* <editor-fold> -------------------------------------------------- CARD BACK */

.cardBackText{
  -webkit-font-smoothing:antialiased;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  width:100%;
  font-family: 'Rowdies-Bold', 'NotoSansJP Bold';
}

.cardBackMainText{
  line-height: 100%;
  color:#323232;
  text-transform:uppercase;
  margin:auto;
  white-space:pre-line;
  font-size:4em;
  padding-bottom:.35em;
}

.cardBackSubText{
  line-height: 100%;
  color:#FFF;
  display:inline-block;
  width:auto;
  font-size:2em;
  padding:.35em;
  border-radius:5px;
  font-family: 'Rowdies-Light', 'NotoSansJP Light';
}

/* </editor-fold> ----------------------------------------------------------- */

/* <editor-fold> -------------------------------------------------- CARD BACK NAME */

.cardBack.name{
  width:calc(100% - 2em);
  height:calc(100% - 2em);
  border-radius:2em;
  background-color:#FFF;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cardBackName{
  font-size:4em;
  margin-top:0;
  line-height:100%;
}

.cardBackAge, .cardBackJob{
  font-size:2em;
  margin:0;
  text-transform: lowercase;
}

/* </editor-fold> ----------------------------------------------------------- */
