.decksContainer {
  width: 60%;
  height: 100%;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deckContainer {
  width: 100%;
  height: 20%;
  display:flex;
  padding:2em;
  padding-left:4em;
}

.deckContainer:nth-child(2) {
  justify-content: flex-end;
}

.deckContainer > div {
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deckContainer > div > div {
  cursor:pointer;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
  max-height: 275px;
  width: 75vh;
  max-width: 520px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}


/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .deckContainer > div > div {
    max-height: 240px;
    max-width: 450px;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .deckContainer > div > div {
    max-height: 200px;
    max-width: 375px;
  }
  .deckContainer {
    justify-content: center;
    width:calc(100% - 4em);
    padding:0em;
    padding-left:2em;
  }
  .deckContainer:nth-child(2) {
    opacity:0;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .decksContainer{
    width:100%;
    position:absolute;
    padding:0 !important;
  }
  .deckContainer > div > div {
    max-height: 150px;
    max-width: 300px;
  }
  .deckContainer {
    justify-content: center;
    width:calc(100% - 4em);
    padding:2.5em !important;
  }
  .deckContainer:nth-child(2) {
    opacity:0;
  }
}
