/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

:global(.hamburger) {
  z-index: 999;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 10px;
  width: 55px;
  height: 55px;
  overflow: visible;
}

:global(.hamburger-box) {
  width: 50px;
  height: 34px;
  transform: scale(0.75);
  display: inline-block;
  position: relative;
}

:global(.hamburger-inner) {
  display: block;
  top: 50%;
  margin-top: -2px;
}
:global(.hamburger-inner),
:global(.hamburger-inner)::before,
:global(.hamburger-inner)::after {
  width: 50px;
  height: 4px;
  background-color: #323232;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
:global(.hamburger-inner)::before,
:global(.hamburger-inner)::after {
  content: "";
  display: block;
}
:global(.hamburger-inner)::before {
  top: -10px;
}
:global(.hamburger-inner)::after {
  bottom: -10px;
}

/*
   * Slider
   */
:global(.hamburger--slider) :global(.hamburger-inner) {
  top: 8px;
}
:global(.hamburger--slider) :global(.hamburger-inner)::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
:global(.hamburger--slider) :global(.hamburger-inner)::after {
  top: 20px;
}

:global(.hamburger--slider.is-active) :global(.hamburger-inner) {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
:global(.hamburger--slider.is-active) :global(.hamburger-inner)::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
:global(.hamburger--slider.is-active) :global(.hamburger-inner)::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
