/* #region--------------------------------------GENERAL */

:global(.characterSpotlightWrapper) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #323232;
  background: #fff;
  padding: 2em;
}

:global(.characterSpotlightWrapper.invert) {
  background: #323232;
  color: #fff;
}

:global(.fadeInTextWrapper) {
  width: 100%;
}

:global(.spotlightTopWrapper),
:global(.spotlightBottomWrapper) {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 4em);
  text-align: center;
  justify-content: center;
  padding: 2em;
}

:global(.spotlightTopWrapper) {
  padding-top: 1em;
  justify-content: center;
}
:global(.spotlightTopWrapper) h1 {
  margin: 0;
  line-height: 125%;
}

:global(.starWrapperLeft) {
  position: relative;
  display: block;
  transform: translateX(-2em);
}

:global(.starWrapperRight) {
  position: relative;
  display: block;
  transform: translateX(2em);
}

:global(.spotlightBottomWrapper) {
  align-items: flex-start;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  :global(.spotlightLeftWrapper) {
    min-width: 300px !important;
  }
}

@media only screen and (max-width: 900px) {
  :global(.characterSpotlightWrapper) {
    padding: 1em;
  }
  :global(.spotlightTopWrapper),
  :global(.spotlightBottomWrapper) {
    flex-direction: column;
  }
  :global(.spotlightTopWrapper) {
    padding-bottom: 0;
  }
  :global(.spotlightRightWrapper) {
    width: 100%;
  }
  :global(.spotlightHobbiesSection) {
    padding-bottom: 0 !important;
  }
  :global(.spotlightLeftWrapper) {
    padding-bottom: 2em;
    min-width: unset !important;
    margin: auto;
    margin-top: 2em;
  }
  :global(.spotlightBottomWrapper) {
    padding: 0;
    width: 100%;
  }
  :global(.spotlightRightTopWrapper) {
    margin-left: 0 !important;
    padding: 1em !important;
  }
  :global(.spotlightTopWrapper) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  :global(.showDetailsButton) {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
    text-decoration: underline;
    cursor: pointer;
  }
  :global(.showDetailsButton) p {
    width: fit-content;
    margin: auto;
  }
  :global(.spotlightDetailsSection) {
    display: none;
  }
  :global(.spotlightDetailsSection.is-active) {
    display: block;
  }
}

:global(.allCharsButtonWrapper) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
}

/* #endregion */

/* #region--------------------------------------LEFT */

:global(.spotlightLeftWrapper) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  min-width: 500px;
}

:global(.indexTotalWrapper) {
  font-size: 1.35em;
  position: absolute;
  top: -30px;
  left: -10px;
}

:global(.indexWrapper) {
  font-size: 1.65em;
}

:global(.imageCircleMask) {
  position: relative;
}

:global(.spotlightLeftWrapper) :global(.characterImage) {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  object-fit: cover;
}

:global(.magnifierWrapper) {
  border-radius: 100%;
  padding: 0.5em;
  border: 1px solid #323232;
  position: absolute;
  bottom: 2em;
  right: 1.5em;
  background: #fff;
}

:global(.imageCircleIcons) {
  width: 25px;
  height: 25px;
}

/* mobile */
@media only screen and (max-width: 900px) {
  :global(.spotlightLeftWrapper) :global(.characterImage) {
    width: 250px;
    height: 250px;
  }
}

:global(.leftDetailsWrapper) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:global(.leftDetailsWrapper) h1 {
  margin-bottom: 0;
  margin-top: 0.25em;
  font-size: 2em;
  line-height: 125%;
}

:global(.leftDetailsWrapper) h3 {
  font-family: "Rowdies-Regular";
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

:global(.leftAgeJobWrapper) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

:global(.leftAgeJobWrapper) p {
  margin-bottom: 0;
}

:global(.leftAgeJobWrapper) :global(.divider) {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 1px;
  height: 1px;
}

/* #endregion */

/* #region--------------------------------------RIGHT */

:global(.characterSpotlightWrapper.invert) :global(.spotlightRightTopWrapper) {
  background: #fff;
  color: #323232;
  font-size: 1em;
}

:global(.spotlightRightTopWrapper) {
  text-align: left;
  padding: 2em;
  margin-left: 4em;
  border-radius: 5px;
  max-width: 700px;
}

:global(.spotlightHobbiesSection) {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

:global(.spotlightHobbiesSection) > ul {
  margin: 0;
}

:global(.spotlightDetailsSection) :global(.spotlightBold) {
  font-family: "Roboto Regular";
}

:global(.descriptionsList):not(:last-child) {
  margin-bottom: 0.5em;
}

:global(.spotlightDetailsSection) li {
  text-align: left;
}

:global(.spotlightRightTopWrapper) h2,
:global(.spotlightRightTopWrapper) h3,
:global(.spotlightRightTopWrapper) p {
  margin-top: 0;
  margin-bottom: 0;
}

:global(.discordEmojiWrapper) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* mobile */
@media only screen and (max-width: 900px) {
  :global(.discordEmojiWrapper) {
    margin-top: 1em;
  }
  :global(.characterSpotlightContainer) {
    padding-bottom: 2em;
  }
}

:global(.discordEmojiWrapper) :global(.defaultButton) {
  padding: 0;
  padding-right: 1em;
  font-size: 0.9em;
  text-decoration: underline;
}

@media only screen and (min-width: 982px) {
  :global(.discordEmojiWrapper) :global(.defaultButton):nth-child(2) {
    padding-bottom: 1em;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  :global(.discordEmojiWrapper) :global(.defaultButton) {
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-right: 0;
  }
}

:global(.discordEmojiWrapper) :global(.defaultButton):hover {
  background-color: #fff;
}

/* #endregion */
