.characterSpotlightWrapper {
  display:flex;
  justify-content:center;
  flex-direction:row;
  color:#323232;
}

.spotlightCardWrapper{
  margin:auto;
  margin-right:0;
}

.spotlightDetailsWrapper {
  text-align:left;
  padding-left:50px;
  margin:auto;
  margin-left:0;
  max-width:40%;
}

.spotlightDetailsWrapper h1 {
  font-size:2.5em !important;
  line-height: 100%;
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.spotlightDetailsSection{
  border-top:1px solid #323232;
  padding-top:0.5em;
  margin-top:0.5em;
  max-width:750px;
  text-align:left;
}

.spotlightHobbiesSection{
  display:flex;
}

.spotlightHobbiesSection > ul{
  margin:0;
}

.spotlightDetailsSection:not(:last-child){
  padding-bottom:0.5em;
}
.spotlightDetailsSection.space-between{
  display:flex;
  justify-content: space-between;
}

.spotlightDetailsSection .divider:not(:first-child):not(:last-child) {
  border-right:1px solid #323232;
}

.spotlightDetailsSection .divider:first-child {
  display:none;
}

.spotlightDetailsSection .spotlightBold {
  font-family:"Roboto Regular";
  padding-right:10px;
}

.descriptionsList:not(:last-child){
  margin-bottom:0.5em;
}

.spotlightDetailsSection li {
  text-align: left;
}

.spotlightDetailsWrapper h2, .spotlightDetailsWrapper h3, .spotlightDetailsWrapper p {
  margin-top:0;
  margin-bottom:0;
}

/* mobile stuff */
@media only screen and (max-width: 1200px) {
  .is-hidden-mobile{
    display:none;
  }

  .characterSpotlightWrapper{
    flex-direction: column;
  }

  .spotlightCardWrapper{
    margin-right:auto;
    margin-bottom:2em;
  }

  .spotlightDetailsSection p {
    display:flex;
    flex-direction: column;
  }

  .spotlightDetailsWrapper {
    text-align:center;
    margin-left:auto;
    max-width:100%;
    padding:2em;
    padding-top:0;
    padding-bottom:0;
  }

  .spotlightDetailsWrapper h1 {
    font-size:2em;
  }

  .spotlightDetailsWrapper h3 {
    font-size:1em;
    text-align:center;
    display:flex;
    flex-direction: column;
  }

  .spotlightDetailsSection .divider:first-child {
    display:block;
  }

  p.leftAlign{
    text-align:left;
  }

  .spotlightDetailsSection .spotlightBold {
    padding-right:0px;
  }
}
