.carouselSection{
  height:50vh;
  padding: 2em;
  padding-bottom:4em;
  position: relative;
}

.carouselSection > h2{
  margin-top:0;
}

.swiper-container{
  padding-bottom:0;
}

.swiper-button-next, .swiper-button-prev{
  color:rgba(0,0,0,.45);
  top:50%;
}

.swiper-button-prev{
  left:20px;
}
.swiper-button-next{
  right:20px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px ​!important;
}
.swiper-pagination-bullet {
  width: 0.5em;
  height: 0.5em;
}
.swiper-pagination-bullet-active {
  background: #DD7373;
}

.swiper-slide{
  display:flex;
  align-items: center;
}

.carouselImage{
  width:100%;
  border-radius:.5em;
}
