.swiper-button-next, .swiper-button-prev{
  color:#FFF;
}

.swiper-container {
  overflow: visible;
  padding-bottom:3em;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px ​!important;
}
.swiper-pagination-bullet {
  width: 0.5em;
  height: 0.5em;
}
.swiper-pagination-bullet-active {
  background: #FFF;
}

.swiper-slide > .flipcard {
  transition: transform 0.5s;
}

.swiper-slide > .flipcard:hover {
  transform:scale(1.05);
}
