#sharehome[language="ja"] .subtitle{
  font-size:2em;
}

#sharehome[language="ja"] .spotlightDetailsWrapper h1 {
  font-size:2em !important;
}


#sharehome[language="ja"] .howToPlayWrapper .timePlayerInfoWrapper  {
  font-size:.8em !important;
}
