.roomCreatorRow {
  margin-top:20px;
  margin-bottom:20px;
}

.roomCreatorRow p{
  margin-bottom:0;
  text-align:left;
  width:300px;
  margin:auto;
}

.roomCreatorRow span{
  float:right;
}

.roomCreatorButtonWrapper{
  display:flex;
  justify-content:center;
  align-items:center;
}

.createRoomBoxInput{
  margin-right:10px;
}
