.contentButtonWrapper {
  margin-bottom:40px;
}

/* Choose image file to upload */
.contentButtonWrapper input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
.contentButtonWrapper input[type="file"] + label {
  cursor:pointer;
}

.contentButton{
  height: auto;
  padding: 10px;
  margin-right:10px;
  padding-top:12px;
  width: auto;
  display: inline-block;
}
