.cardPreview{
  position:relative;
  display:inline-block;
  margin-left:13px;
  margin-bottom:5px;
  cursor:pointer;
  overflow:hidden;
  transition:transform 0.5s;
  background:rgba(0,0,0,0.75);
}

.cardPreview:hover{
  transform:scale(0.95);
}

.cardPreview * {
  opacity:0.6;
}

.cardPreviewBorder{
  width:calc(100% - 10px);
  height:calc(100% - 10px);
  z-index:10;
  position:absolute;
}

.cardPreview.currentCard > .cardPreviewBorder{
  border:5px solid white;
  opacity:1;
}

.cardPreviewNumber{
  opacity:1;
  font-size: 50px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 55%;
  line-height: 100%;
  transform: translate(-50%,-50%);
  font-weight: bolder;
}

.cardPreviewNumber.is-plus{
  top:50%;
}

.cardPreviewNumber.is-plus *{
  opacity:1;
}

.cardPreviewText{
  font-family: 'Interstate Extra Light Condensed';
  position:absolute;
  text-align:left;
  color:white;
  z-index:3;
  white-space:nowrap;
  overflow:hidden;
  width:100%;
  bottom:0;
  -webkit-font-smoothing: antialiased;
}

.cardPreviewMainText{
  text-transform:uppercase;
  line-height:100%;
}

.cardPreviewSubText{
  line-height:100%;
}

.japaneseName{
  font-family: 'GenShinGothic Monospace Extra Light';
}

.cardPreviewShadow{
  height:50%;
  width:100%;
  position:absolute;
  bottom:0;
  background-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,.75));
  z-index:2;
}

.cardPreviewImage{
  object-fit:cover;
  object-position:center center;
  position:absolute;
  height:100%;
  width:100%;
  top: 0;
  left:0;
  z-index:1;
}
