.subcontentWrapper svg {
  vertical-align:middle;
  padding-right:10px;
}

.selectorRow:not(.headerRow){
  cursor:pointer;
}

.selectorRow{
  width:95%;
  border-width:1px;
  border-style:solid;
  border-color:rgb(45,45,45);
  position:relative;
  text-align:left;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:auto;
  margin-bottom:-1px;
  height:60px;
}

.selectorRow .flipcardBack{
  border:1px solid black;
}

.selectorRow.blueBackground {
  color:white;
}

.selectorRow.blueBackground .flipcardBack{
  border:1px solid #2A188B;
}

.selectorRow p {
  margin-top:0px;
  margin-bottom:-6px;
}

.selectorRow p.margin-right {
  margin-right:10px;
}

.selectorRow p.margin-left {
  margin-left:10px;
}

.selectorCell{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:0;
  white-space:nowrap;
}

.deckName{
  text-overflow:ellipsis;
  overflow:hidden;
}

.deckCard{
  float:right;
  margin-left:10px;
  margin-right:10px;
}

@media only screen and (max-width:600px) {
  .deckName {
    max-width:100px !important;
  }
}

.selectorCellButtonWrapper{
  padding:10px;
  padding-right:0px;
}

.selectorButton{
  transition:background 0.25s;
  background:transparent;
  font-size:15px;
  border-radius:5px;
  padding:10px;
  cursor:pointer;
  position:relative;
}

.selectorButton:hover{
  background:rgba(255,255,255,.15) !important;
}

.selectorButton svg{
  vertical-align:middle;
  padding-right:0;
  stroke:black;
}

.selectorButton:active{
  background:rgba(255,255,255,.3) !important;
}

.moreDialog{
  position:absolute;
  background:rgb(45,45,45);
  min-width:100px;
  z-index:1;
  border-radius:10px;
  overflow:hidden;
  left:25%;
  top:75%;
}

.selectorButton input[type="file"] {
  opacity:0;
  position:absolute;
  pointer-events:none;
  width:1px;
  height:1px;
}
.moreDialog input[type="file"] + label {
  cursor:pointer;
}

.moreDialog .button{
  display:block;
  width:100%;
  text-transform:none;
  padding:20px;
  font-size:1em;
}
