.deckSelecterWrapper{

}

.deckSelecter{
  display:inline-block;
  margin:20px;
  margin-top:0;
  width:200px;
  cursor:pointer;
  border-width:3px;
  border-style:solid;
  border-color:white;
  padding:20px;
  padding-bottom:0;
  transition:transform 0.5s;
}

.deckSelecter:hover{
  transform:scale(0.95);
}
