.modal{
  position:fixed;
  width:100vw;
  height:100vh;
  overflow:hidden;
  left:0;
  top:0;
  background:rgba(0,0,0,0.75);
  z-index:9999;
  outline:0;
  border:0;
  color:white;
}

.modalTextWrapper{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  padding:20px;
  max-width:250px;
  text-align:center;
  border-radius:20px;
}

.modalTextWrapper h3{
  margin-top:20px;
  margin-bottom:20px;
  line-height:150%;
}

.modalButtonWrapper{
  width:100%;
  display:flex;
  justify-content:space-between;
}

.modalButton{
  width:100%;
}
