.sidebarTitle{
  margin-left:20px;
}

.sidebarButtonWrapper{
  padding-bottom:0;
  padding-top:10px;
  border-top:1px solid white;
  border-bottom:1px solid white;
  margin-bottom:20px;
}

.sidebarInputWrapper{
  margin-bottom:10px;
}

.sidebarInputWrapper p{
  margin-left:20px;
  margin-bottom:0;
}

.sidebarInputWrapper input{
  outline:0;
  border:0;
  width:calc(100% - 60px) !important;
  padding-left:10px !important;
  margin-left:20px;
  min-width:0px !important;
}

.cardPreviewWrapper{
  overflow-y:scroll;
  overflow-x:hidden;
  height:calc(100vh - 540px);
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cardPreviewWrapper::-webkit-scrollbar {
  display: none;
}

.sidebarButton{
  width:100%;
}
