/* <editor-fold>---------------------------------------------------------DECK */



/* </editor-fold> */

/* <editor-fold>---------------------------------------------------------CHARACTERS */

.characterContent {
  width:100%;
  margin-bottom:100px;
}

.characterSubcontent{
  margin-top:25px;
  padding-left:15px;
  padding-right:15px;
}

.characterSubcontent:first-child{
  margin-top:0px !important;
}

.characterWrapper{
  width:100%;
  margin-bottom: 2em;
  position:relative;
}

.characterWrapper img{
  width: 100%;
}

.caption{
  margin: 0;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
  background: rgba(0,0,0,0.3);
  color: white;
  font-size:3em;
  position: absolute;
  width: 100%;
  bottom: 8px;
}

@media only screen and (max-width:600px) {
  .caption{
    font-size: 1.5em;
  }
}

.moretocome{
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
}

/* </editor-fold> */
