/* <editor-fold>--------------------------------------GENERAL */

.mainpageContainer{
  position:relative;
  display: flex;
  width:100%;
}

.mainpageContainer > div:first-child {
  padding:2em;
}

.mainpageContainer h1{
  font-size:3em;
  margin-top:0;
  margin-bottom:0.5em;
}

.mainpageContainer p{
  font-size:1em;
}

.mainpageContainer p.noMargin{
  margin:0;
}

.mainpageContainer p:last-child a{
  color:#FFF;
}

p.smallText {
  font-size:1em !important;
  margin-top:0;
  margin-bottom:0;
}

p.smallText a {
  color:#323232 !important;
}

/* tablet */
@media only screen and (max-width: 1200px) {
  .mainpageContainer{
    min-height: 55vh;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .mainpageContainer h1{
    font-size:2em;
  }

  .mainpageContainer > div:first-child {
    padding-left:20px;
    padding-right:20px;
  }

  .mainpageContainer p{
    display:flex;
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------HERO IMAGE */

#heroContainer{
  margin-bottom:20vh;
  overflow:hidden;
}

.mainContentWrapper{
  position:relative;
  height:100vh;
  width:100%;
  display:flex;
  justify-content: center;
  flex-wrap:nowrap;
  color:#323232;
}

.mainContentInner{
  width:50%;
  height:85%;
  position:relative;
  display:flex;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  #mainContentInnerRight{
    width:40% !important;
    justify-content: right;
  }
  .lcmContainer{
    margin-left:0 !important;
    margin-right:0 !important;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  #mainContentInnerLeft{
    height:40% !important;
  }
  .lcmContainer{
    width:300px !important;
  }
}

/* mobile */
@media only screen and (max-width: 1200px) {
  .lcmContainer{
    width:300px !important;
  }
  #heroContainer{
    margin-bottom:10vh;
    flex-direction:column-reverse;
    justify-content:flex-end;
  }

  #mainContentInnerLeft{
    height:30%;
  }

  #mainContentInnerRight{
    height:40%;
  }

  .mainContentInner{
    height:fit-content;
    width:100%;
  }
}

.lcmContainer{
  margin:auto;
  width:500px;
}

.lcmImage{
  width:100%;
  margin:0;
}

.sharehomegame{
  text-align: right;
  width: 109%;
  margin-top: -20px !important;
  font-size: 1.3em;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
}

@media only screen and (min-width: 1200px) {
  .sharehomegame{
    width: 95% !important;
    margin-top: -35px !important;
  }
}

.subtitle{
  text-align: center;
  width: 100%;
  margin-top: 0;
  font-size: 2em;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
  margin-bottom:25px;
}

.gamedetailContainer{
  position:absolute;
  bottom:5%;
  left:50%;
  transform: translateX(-50%);
  margin:auto;
  width: calc(100% - 100px);
}

.gameDetails{
  font-size:1.5em;
  margin:0 !important;
}

.gameDetails > div {
  display:flex;
}

.gameDetails > div > svg {
  margin-top: 5px;
}

/* mobile stuff */
@media only screen and (max-width: 600px) {
  .lcmImage{
    width:250px !important;
  }

  .subtitle {
    font-size:1.5em;
  }

  .gameDetails{
    font-size:1.25em;
  }

  .gameDetails > div > svg {
    margin-top: 1.5px;
    margin-right:7.5px;
  }

}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SHAREHOME DESCRIPTION SECTION */

#descriptionContainer{
  min-height: 65vh;
  justify-content: center;
  border-radius: 15vw 0 0 0;
  color:#FFF;
}

#descriptionContainer div{
  padding:2em;
  margin-left: 0;
  margin-right: 0;
}

.backgroundImage{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius:5vw;
  margin:0 !important;
  box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

@media only screen and (max-width: 1200px) {
  #descriptionContainer{
    flex-direction:column;
  }
  #descriptionContainer > div{
    margin:auto !important;
    margin-bottom: 0 !important;
  }
  #descriptionContainer > div:first-child{
    padding-bottom: 0 !important;
  }
  #descriptionContainer > div:last-child{
    padding-top: 0 !important;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------EMAIL SIGN UP */

#emailContainer {
  min-height: 65vh;
}

#emailContainer div{
  padding:2em;
  margin:auto;
}

.emailWrapper{
  margin:auto;
  width:750px;
}

.emailWrapper p {
  margin-top:0.75em !important;
  overflow-wrap:break-word;
  font-size:0.75em;
}

.formWrapper {
  position:relative;
  width:100%;
  text-align: left;
}

.forminputText{
  max-width: 750px;
}

.forminputText a{
  display:block;
}

.emailInput {
  box-shadow:0px 0px 10px rgb(0 0 0 / 33%);
  font-size: 1.25em;
  padding: 1em;
  width: calc(75% - 2em);
  outline: 0;
  border:0;
  border-radius: 0 0 0 1.25em;
  height:100%;
  line-height: 100%;
}

.subscribeButton{
  box-shadow:0px 0px 10px rgb(0 0 0 / 33%);
  width: 25%;
  padding: 0.5em;
  border:0;
  border-radius: 0 1.25em 0 0;
  position: absolute;
  right: 0;
  height:100%;
  color:#FFF;
}

@media only screen and (max-width: 600px) {
  .emailInput {
    font-size:1em;
  }

  .subscribeButton{
    font-size:1em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------CHARACTER CONTAINER */

#characterContainer{
  color:#FFF;
  display:flex;
  flex-direction: column;
  padding-bottom:3em;
}

.swiperContainer{
  cursor:pointer;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------MECHANICS CONTAINER */

#mechanicsContainer{
  min-height: 65vh;
}

.mechanicsWrapper{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.mechanicsWrapper div{
  padding:0em;
  font-size:1.5em;
  display:flex;
  flex-direction: column;
}

.mechanicsWrapper div > img {
  width:200px;
  height:200px;
}

@media only screen and (max-width: 900px) {
  .mechanicsWrapper li{
    padding:0.25em;
    font-size:1.25em;
  }

  .mechanicsWrapper div > img {
    width:150px;
    height:150px;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SPOTLIGHT CONTAINER */

#spotlightContainer{
  border-radius:0 0 15vw 0;
  color:#FFF;
  display:flex;
  flex-direction: column;
  padding-bottom:3em;
}

#spotlightContainer > div > h1{
  margin-bottom:0 !important;
}

/* mobile stuff */
@media only screen and (max-width: 900px) {
  #spotlightContainer{
    padding-top:2em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------FINAL CONTAINER */

#finalContainer {
  min-height:35vh;
}

/* </editor-fold> */
