.cardButtonsTitle{
  margin-bottom:0;
}

.contentButtonWrapper{
  margin-top:20px;
  margin-bottom:20px;
}

/* Choose image file to upload */
.contentButtonWrapper input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
.contentButtonWrapper input[type="file"] + label {
  cursor:pointer;
}

.contentButton{
  height: auto;
  padding: 10px;
  padding-top:12px;
  width: auto;
  display: inline-block;
  background-color:white;
  border:1px solid #DCDCDC;
  color:#323232 !important;
}

.contentButton:not(:last-child){
  margin-right:10px;
}

.contentButton:active{
  background-color:#DCDCDC !important;
  color:#323232 !important;
}
.contentButton:active svg{
  stroke:#323232 !important;
}

.contentButton span{
  line-height:100%;
}
