.deckCreatorWrapper{
  display:flex;
  justify-content: space-between;
}

.deckCreator{
  display:inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width:27.5%;
  cursor:pointer;
  position:relative;
  border-width:1px;
  border-style:solid;
  border-image:initial;
  padding:20px 20px 0px;
  transition:transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  border-radius:1em 0 1em 0;
  color:#FFF;
}

.deckCreator p{
  margin-top:10px;
}

.deckCreator:hover{
  transform:scale(1.05);
  z-index:99;
}
