.deckCreatorWrapper{
  display:flex;
  justify-content: space-between;
  text-align:center;
}

/* mobile only */
@media only screen and (max-width: 600px) {
  .deckCreator{
    max-width:100% !important;
    margin-left:0 !important;
    margin-right:0 !important;
  }
}

@media only screen and (max-width: 900px) {
  .deckCreatorWrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* tablet only */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .deckCreator{
    max-width:40% !important;
    margin: 0 !important;
    margin-left: 1em !important;
    margin-bottom: 1em !important;
  }
}

.deckCreator{
  display:inline-block;
  margin:auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom:1em;
  max-width:35%;
  cursor:pointer;
  position:relative;
  border-width:1px;
  border-style:solid;
  border-image:initial;
  padding:20px 20px 0px;
  transition:transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  border-radius:1em 0 1em 0;
  color:#FFF;
}

.deckCreator p{
  margin-top:10px;
}

.deckCreator:hover{
  transform:scale(1.05);
  z-index:99;
}
