.link{
  text-decoration:underline;
  cursor:pointer;
}

.howToPlayWrapper{
  width:300px;
  display:inline-block;
  padding:20px;
  vertical-align: top;
  padding-bottom:0px;
}

.subtext{
  font-size:0.75em;
  line-height:100%;
  text-transform:uppercase;
  margin-top:20px !important;
  list-style-type:circle;
  text-align:left;
  opacity:0.85;
}

.timePlayerInfoWrapper{
  display:flex;
  margin-top:10px;
  margin-bottom:10px;
  justify-content:center;
  align-items:center;
  text-transform:uppercase;
}

.timePlayerInfoWrapper div, .timePlayerInfoWrapper svg{
  margin-right:10px;
}

.stepsContainer{
  display:none;
}

.stepsContainer.is-active{
  display:block;
}

.showRulesButton{
  text-decoration:underline;
  cursor:pointer;
  margin:0;
}

.stepWrapper{
  display:inline-block;
  padding-top:10px;
  width:300px;
  vertical-align:middle;
  margin:2vh;
  margin-left:0;
  margin-right:0;
  padding:2vh;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45,45,45,1);
  transition:all 0.5s;
}

.stepWrapper:hover{
  transform:scale(0.95);
}

.stepWrapper svg{
  width:32px;
  height:32px;
}

.stepWrapper p{
  margin-top:20px;
  margin-bottom:0;
}

.stepWrapperSplit{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.stepSplitterLine{
  margin:auto;
}

.illustrationWrapperCenter{
  display:flex;
  margin-top:20px;
  justify-content:space-between;
  align-items:center;
}

.illustrationWrapperCenter .illustrationCardWrapper{
  display:flex;
  align-items:center;
}

.listOfTaboo li{
  float:left;
  padding-left:10px;
}
