.blue {
  color:#2A188B !important;
}
.darkblue {
  color:#1F1169 !important;
}
.green {
  color:#03C04E !important;
}
.red {
  color:#FF3A20 !important;
}
.yellow {
  color:#F9C22E !important;
}

.blueBackground {
  background-color:#2A188B !important;
}
.transparentBackground {
  background-color:transparent !important;
}
.greenBackground {
  background-color:#03C04E !important;
}
.redBackground {
  background-color:#FF3A20 !important;
}
.yellowBackground {
  background-color:#F9C22E !important;
}

.blueBorder {
  border-color:#2A188B !important;
}
.greenBorder {
  border-color:#03C04E !important;
}
.redBorder {
  border-color:#FF3A20 !important;
}
.yellowBorder {
  border-color:#F9C22E !important;
}

.blueStroke {
  stroke:#2A188B !important;
}
.greenStroke {
  stroke:#03C04E !important;
}
.redStroke {
  stroke:#FF3A20 !important;
}
.yellowStroke {
  stroke:#F9C22E !important;
}
