.footer {
  display: block;
  position: relative;
  width: 100%;
  height: var(--footer-height);
  overflow: hidden;
  pointer-events: none;
}

@media only screen and (max-width: 900px) {
  .footer {
    height: var(--footer-height-mobile);
  }
}
