/* <editor-fold>--------------------------------------GENERAL */

.mainContentWrapper{
  position:relative;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  color:#323232;
}

.mainpageContainer{
  position:relative;
  display: flex;
  width:100%;
}

.mainpageContainer h1{
  font-size:2.5em;
  margin-top:0;
  margin-bottom:0.5em;
}

.mainpageContainer p{
  font-size:1em;
}

.mainpageContainer p.noMargin{
  margin:0;
}

p.smallText {
  font-size:1em !important;
  margin-top:0;
  margin-bottom:0;
}

p.smallText a {
  color:#323232 !important;
}

/* tablet */
@media only screen and (max-width: 1200px) {
  .mainpageContainer{
    min-height: 55%;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .mainpageContainer h1{
    font-size:2em;
  }

  .mainpageContainer > div:first-child {
    padding-left:2em;
    padding-right:2em;
  }

  .mainpageContainer p{
    display:flex;
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------HERO IMAGE */

#heroContainer{
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:200%;
  position:relative;
}

.titleWrapper{
  width:auto;
  height:50%;
  justify-content: center;
  display:flex;
}

.lcmContainer{
  margin:auto;
  width:400px;
  padding-bottom:30vh;
}

.lcmImage{
  width:100%;
  margin:0;
  min-height:271.66px;
}

.sharehomegame{
  text-align: center;
  width: 100%;
  margin-top: 2em !important;
  font-size: 1em;
  font-family: 'Rowdies-Thin', 'ZenKurenaido Regular';
}

.scrollContainer {
  position:absolute;
  top:calc(100vh - 200px - 6em);
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:200px;
  padding:2em;
}

.scrollHorizontalContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.scrollHorizontalContainer:first-child{
  padding-bottom:2em;
}

.scrollHorizontalContainer p{
  margin-bottom:0;
  font-size:0.75em;
  line-height: 100%;
}

.scrollVerticalContainer{
  height:100px;
}

.scrollHorizontalContainer div:first-child{
  border-right: 0.25px solid #323232;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .lcmContainer{
    width:350px !important;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .lcmContainer{
    width:300px !important;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .lcmContainer{
    width:250px !important;
  }
  .sharehomegame{
    width: 100% !important;
    margin-top: 25px !important;
    text-align:center;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SHAREHOME DESCRIPTION SECTION */

#descriptionContainer{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color:#323232;
}

.descriptionOpaque{
  opacity:0;
}

.descriptionWrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.descriptionWrapper > div {
  padding-left:0;
  padding-right:0;
}

.descriptionWrapper > div:first-child {
  margin-bottom:2em;
}

.descriptionWrapper > div:last-child > div:last-child p {
  margin-bottom:0;
}

.subtitle{
  font-size: 2em;
  white-space: pre-line;
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  margin:0 !important;
}

.gameDetails{
  font-size:1.25em;
  margin-top:1em;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .gameDetails{
    font-size:.8em;
  }

  .gameDetails > div > svg {
    margin-top: -2px !important;
  }
}

.gameDetails > div {
  display:flex;
}

.gameDetails > div > svg {
  margin-top: 5px;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------EMAIL SIGN UP */

#emailContainer {
  min-height: 65vh;
}

.emailWrapper{
  margin:auto;
  width:900px;
}

.emailWrapper p {
  margin-top:0.75em !important;
  overflow-wrap:break-word;
  font-size:0.75em;
}

.formWrapper {
  position:relative;
  width:100%;
  text-align: left;
}

.forminputText{
  max-width: 900px;
  margin:auto;
}

.forminputText a{
  display:block;
}

.forminputText a{
  color:rgba(0,0,0,.85) !important;
}

.emailInput {
  box-shadow:0px 0px 10px rgb(0 0 0 / 33%);
  font-size: 1.25em;
  padding: 1em;
  width: calc(75% + 1px);
  outline: 0;
  border:0;
  border-radius: 0 0 0 1.25em;
  height:100%;
  line-height: 100%;
}

.subscribeButton{
  box-shadow:0px 0px 10px rgb(0 0 0 / 33%);
  width: 25%;
  padding: 0.5em;
  border:0;
  border-radius: 0 1.25em 0 0;
  position: absolute;
  right: 0;
  height:100%;
  color:#FFF;
  font-family: 'Rowdies-Thin', 'ZenKurenaido Regular';
}

@media only screen and (max-width: 600px) {
  .emailInput {
    font-size:1em;
  }

  .subscribeButton{
    font-size:1em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------CHARACTER CONTAINER */

#characterContainer{
  color:#323232;
  display:flex;
  height:120vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  overflow:hidden;
}

.characterTextContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:40%;
  z-index:99;
  padding:2em;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .characterTextContainer{
    width:100%;
  }
}


/* </editor-fold> */

/* <editor-fold>--------------------------------------MECHANICS CONTAINER */

#mechanicsContainer{
  min-height: 65vh;
  margin-bottom:3em;
}

.mechanicsWrapper{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.mechanicsWrapper div{
  padding:0em;
  font-size:1.25em;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rowdies-Thin', 'ZenKurenaido Regular';
}

.mechanicsWrapper div > img {
  width:200px;
  height:200px;
}

@media only screen and (max-width: 900px) {
  .mechanicsWrapper li{
    padding:0.25em;
    font-size:1.25em;
  }

  .mechanicsWrapper div > img {
    width:150px;
    height:150px;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SPOTLIGHT CONTAINER */

#spotlightContainer{
  display:flex;
  flex-direction: column;
  padding-bottom:3em;
}

#spotlightContainer > div > div > h1{
  margin-bottom:0 !important;
}

/* mobile stuff */
@media only screen and (max-width: 900px) {
  #spotlightContainer{
    padding-top:2em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------FINAL CONTAINER */

#finalContainer {
  min-height:35vh;
}

/* </editor-fold> */
