.content .title{
  text-transform:uppercase;
  font-size:60px;
  padding:20px;
  padding-bottom:10px;
  background-color:#2A188B;
  color:white;
  display:inline-block;
  margin:auto;
  margin-top:40px;
  margin-bottom:3vh;
  width:255px;
  line-height:100%;
}

.title:after{
  content:'SHAREHOME';
}

.title:hover:after{
  content:'シェアホーム';
  font-size:40px;
  line-height:100%;
  font-family: 'GenShinGothic Monospace Extra Light';
}

.subtitle{
  margin:auto;
  max-width:75vw;
  line-height:150%;
  font-size:1.75em;
}

.CTAWrapper{
  margin-top:3vh;
}

.callToAction {
  display:inline-block;
  padding-top:10px;
  width:170px;
  height:250px;
  vertical-align:middle;
  margin:2vh;
  padding:2vh;
  border-width:5px;
  border-style:solid;
  text-decoration:none;
  text-align:center;
  position:relative;
  -webkit-user-select:none;
	-webkit-user-drag:none;
	-webkit-app-region:no-drag;
  transition:all 0.5s;
}

.callToAction.horizontal{
  width:250px;
  height:170px;
}

.callToAction:active{
  border-color:black;
}

.callToAction:hover{
  transform:scale(0.95);
}

.callToAction h1{
  line-height:150%;
  font-size:3vh;
  text-transform:uppercase;
}

.callToAction p {
  font-size:12px;
  line-height:125%;
  position:absolute;
  bottom:20px;
  left:20px;
  width:calc(100% - 40px);
}

.callToActionIcon {
  margin-top: 10px;
  background-color: #000;
  border-radius: 40%;
  padding: 12px;
}

.is-hidden{
  display:none;
}
.hiddenInput{
  position: absolute; left: -5000px;
}

.forminputText a{
  display:block;
}

.emailWrapper{
  margin-top:75px;
}

.emailInput{
  height:100%;
  font-family: 'Interstate Extra Light Condensed';
  font-size: 20px;
  outline: 0;
  line-height: 100%;
  padding: 10px;
  padding-top: 12px;
  border: 1px solid black;
  width:calc(100% - 150px);
}

.subscribeButton{
  border:1px solid #2A188B;
}

.couchContainer{
  max-width:750px;
  padding:25px;
  margin:auto;
  margin-top:25px;
  margin-bottom:25px;
}
