/* <editor-fold>--------------------------------------GENERAL */

.mainContentWrapper{
  position:relative;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  color:#323232;
}

.mainpageContainer{
  position:relative;
  display: flex;
  width:100%;
}

.mainpageContainer h1{
  font-size:2.5em;
}

.mainpageContainer p{
  font-size:1em;
}

.mainpageContainer p.noMargin{
  margin:0;
}

/* tablet */
@media only screen and (max-width: 1200px) {

}

/* mobile */
@media only screen and (max-width: 900px) {
  .mainpageContainer h1{
    font-size:1.25em;
    line-height: 125%;
  }
  .mainpageContainer p, .mainpageContainer li{
    font-size:0.85em;
    line-height: 150%;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------HERO IMAGE */

#heroContainer{
  width:100%;
  height:auto !important;
}

.screenHeight {
  height:100vh;
  width:100%;
  position:relative;
  text-align: center;
  flex-direction: column;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.heroLogo{
  position: absolute;
  width: 200px !important;
  height: 200px !important;
  border-radius: 50px;
  padding-left: 6px;
  background-color: rgba(255,255,255,1);
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.heroLogo > img {
  width: 100%;
  height: 100%;
}

.heroImage {
  padding-top:5vh;
  box-shadow: 0 2px 2px -2px #323232;
}

.heroImage > img {
  object-fit: contain;
  height:100%;
  max-height:500px;
  /* for live KS */
  cursor:pointer;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .heroImage {
    padding-top:0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .heroLogo{
    width: 150px !important;
    height: 150px !important;
    top:32.5%;
  }
  .heroImage > img {
    width:calc(100%);
    max-width:500px;
    margin:0;
    height:auto;
  }
  .mobileTagLine{
    white-space: pre;
    line-height:70%;
    margin:0;
    margin-bottom:2em;
    margin-top:4em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------TITLE MASK */

.titleWrapper.topOne {
  position:absolute;
  left:55%;
  top:50px;
}

.titleWrapper.topOne {
  height:250px;
  width:250px;
}

.titleWrapper.botOne {
  height:500px;
  width:500px;
}

@media only screen and (max-width: 900px) {
  .titleWrapper.botOne {
    width:350px !important;
    height:350px !important;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .titleWrapper:not(.botOne) {
    position:static !important;
    height:100% !important;
  }
}

/* mobile widths */
@media only screen and (min-width: 800px) and (max-width: 900px) {.titleWrapper:not(.botOne) {width:250px !important;}}
@media only screen and (min-width: 700px) and (max-width: 800px) {.titleWrapper:not(.botOne) {width:300px !important;}}
@media only screen and (max-width: 700px) {.titleWrapper:not(.botOne) {width:350px !important;}}

/* low height */

@media only screen and (min-height: 800px) and (max-height: 900px) {.titleWrapper:not(.botOne) {width:250px !important;}}
@media only screen and (min-height: 630px) and (max-height: 800px) {.titleWrapper:not(.botOne) {width:150px !important;}}
@media only screen and (max-height: 630px) {.titleWrapper:not(.botOne) {display:none;} .mobileTagLine{padding-top:5vh;padding-bottom:2.5vh;}}

.lcmMaskWrapper{
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  -moz-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  -ms-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  -o-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
}

.lcmMask{
  -webkit-mask-image: url("images/lcm.svg");
  mask-image: url("images/lcm.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 75%;
  mask-position: center;
  width:100%;
  height:100%;
}

.lcmMask:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  left:-25%;
  top:-25%;
  z-index: -1;
  background: url("images/background watercolor.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  background-origin: center center;
  animation: rotation 15s linear infinite;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SCROLL */

.scrollContainer {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  padding:2em;
  padding-bottom:calc(2em + 50px);
}

.scrollContainer > div{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.scrollHorizontalContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  text-align:center;
  align-items: top;
}

.scrollHorizontalContainer:first-child{
  padding-bottom:1em;
}

.scrollHorizontalContainer p{
  margin-bottom:0;
  font-size:0.65em;
  line-height: 100%;
  cursor:pointer;
}

#animatedScroll {
  animation: scrolling 1s ease-in-out infinite;
}

@keyframes scrolling {
  from {
    height:0;
  }
  to {
    height:50px;
  }
}

.scrollVerticalContainer{
  height:50px;
}

.scrollHorizontalContainer div:first-child{
  border-right: 0.25px solid rgba(0,0,0,.45);
}

.buttonWrapper{
  display:flex;
  flex-direction: flex-start;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .scrollContainer{
    width:calc(100% - 4em);
  }
}

/* low height mobile */
@media only screen and (max-height: 750px) {
  .scrollHorizontalContainer p{
    font-size:0.65em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SHAREHOME DESCRIPTION */

#descriptionContainer{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color:#323232;
  margin-bottom:0;
}

.descriptionOpaque{
  opacity:0;
}

.descriptionWrapper {
  margin-top:4em;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.descriptionWrapper > div {
  padding-left:0;
  padding-right:0;
}

.descriptionTextWrapper > a{
  margin:auto;
  margin-top:2em;
}

.subtitle{
  font-size: 2em;
  white-space: pre-line;
  font-family: 'Rowdies-Regular', 'NotoSansJP Bold';
  margin:0 !important;
}

.gameDetails{
  font-size:1.25em;
  margin-top:1em;
}

.gameDetails > div {
  display:flex;
}

.gameDetails > div > svg {
  margin-top: 2px;
}

#howToPlay{
  height:15vh;
  margin:auto;
  margin-top:5vh;
  text-align: center;
  display:flex;
  flex-direction: column;
}

#howToPlay p{
  font-size:0.85em;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .gameDetails{
    font-size:.65em !important;
  }
  .gameDetails img{
    width:25px;
    height:25px;
  }
  .subtitle{
    font-size: 1.25em !important;
  }

  .gameDetails > div > svg {
    margin-top: -3px !important;
  }

  #descriptionContainer{
    margin-bottom:0;
  }

  .descriptionTextWrapper{
    width:calc(100% - 4em);
  }

  .descriptionTextWrapper > a{
    width:calc(100% - 2em);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------CHARACTER DECKS  */

#characterContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  overflow:hidden;
}

.characterTextContainer{
  display:flex;
  text-align:left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:calc(100% - 4em);
  width:40%;
  padding:2em;
  z-index:9;
}

.characterTextContainer h1{
  line-height:125%;
  max-width:70%;
}

.characterContainerSVG {
  position:absolute;
  top:15vh;
  left:40vw;
}

.characterContainerSVG p {
  text-align:right;
  transform:rotate(-25deg);
  margin-right:-2em;
  margin-top:1em;
  text-align:right;
  font-size:0.85em;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .characterTextContainer h1, .eventsTextContainer h1, .eventsTextContainer p, .goalsTextContainer h1, .goalsTextContainer p{
    max-width:100% !important;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .characterContainerSVG {
    left:40vw;
  }
  .characterTextContainer h1, .eventsTextContainer h1, .eventsTextContainer p, .goalsTextContainer h1, .goalsTextContainer p{
    max-width:100% !important;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .characterTextContainer h1, .eventsTextContainer h1, .eventsTextContainer p, .goalsTextContainer h1, .goalsTextContainer p{
    max-width:100% !important;
  }
  .characterTextContainer{
    width:100%;
    margin:auto;
    max-width:500px;
    text-align:center;
  }
  .characterContainerSVG {
    top:15vh;
    left:60vw;
    transform:scale(0.75);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------EVENTS DECKS  */

#eventsContainer, #goalsContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.eventsLeftContainer, .goalsRightContainer{
  display:flex;
  text-align:right;
  flex-direction: row;
  align-items: center;
  height:calc(100% - 4em);
  width:60%;
  padding:2em;
  z-index:10;
}
.eventsLeftContainer{
  justify-content: flex-end;
}
.goalsRightContainer{
  justify-content: flex-start;
}

.eventsTextContainer, .goalsTextContainer{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.eventsTextContainer{
  text-align:right;
  justify-content: flex-end;
  align-items: flex-end;
}
.goalsTextContainer{
  text-align:left;
  justify-content: flex-start;
  align-items: flex-start;
}

.eventsTextContainer h1, .goalsTextContainer h1{
  line-height:125%;
  max-width:70%;
}

.eventsTextContainer p, .goalsTextContainer p{
  white-space: pre-line;
  max-width:80%;
}

.eventsContainerSVG, .goalsContainerSVG {
  position:absolute;
}

#eventsContainerSVGcake{
  top:69vh;
  right:20vw;
}

#eventsContainerSVGlovekey{
  top:15vh;
  right:25vw;
}

#eventsContainerSVGplanet{
  top:20vh;
  left:20vw;
  transform:scale(0.65);
}

#goalsContainerSVGflag{
  top:58vh;
  right:27vw;
  transform:scale(0.65);
}

#goalsContainerSVGscroll{
  top:24vh;
  right:24vw;
  transform:scale(0.65);
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  #eventsContainerSVGcake{
    right:20vw;
    top:65vh;
  }
  #eventsContainerSVGlovekey{
    right:22vw;
  }
  #eventsContainerSVGplanet{
  }
  #goalsContainerSVGflag{
    right:14vw;
  }

  #goalsContainerSVGscroll{
    right:17vw;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  #eventsContainerSVGcake{
    right:65vw;
    top:65vh;
  }
  #eventsContainerSVGlovekey{
    right:6vw;
  }
  .eventsTextContainer {
    max-width:400px;
  }
  #goalsContainerSVGflag{
    right:70vw;
    top:70vh;
  }
  #goalsContainerSVGscroll{
    right:70vw;
    top:17vh;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .eventsTextContainer{
    width:100%;
    margin:auto;
    max-width:500px;
    text-align:left;
  }
  #eventsContainerSVGcake{
    top:70vh;
    right:5vw;
  }
  #eventsContainerSVGlovekey{
    top:20vh;
    right:10vw;
  }
  #eventsContainerSVGplanet{
    top:75vh;
    left:-5vw;
  }
  .goalsRightContainer{
    width:calc(100% - 4em);
  }
  .eventsLeftContainer {
    padding-left:0 !important;
    padding-right:0 !important;
    width:calc(100% - 4em);
  }
  #goalsContainerSVGflag{
    right:15vw;
    top:70vh;
  }
  #goalsContainerSVGscroll{
    right:7.5vw;
    top:5vh;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------CAROUSEL  */

.mainpageCarousel {
  margin-bottom:0vh;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------LIKES / HATES  */

#likehateContainer{
  color:#323232;
  display:flex;
  margin-top:10vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

@media only screen and (max-width: 1400px) {
  #likehateContainer{
    margin-top:0;
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------MECHANICS CONTAINER */

#mechanicsContainer{
  min-height: 65vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:2em;
  width:calc(100% - 4em);
}

.mechanicsWrapper{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.mechanicsWrapper div{
  padding:0em;
  font-size:1.25em;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rowdies-Light', 'NotoSansJP Bold';
}

.mechanicsWrapper div > img {
  width:200px;
  height:200px;
  margin-right:1em;
  margin-left:1em;
}

.rulebookWrapper{
  margin-top:10em;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.rulebookWrapper > a {
  margin-left:1em;
  margin-right:1em;
}

@media only screen and (max-width: 900px) {
  .mechanicsWrapper li{
    padding:0.25em;
    font-size:1.25em;
  }

  .mechanicsWrapper div > img {
    width:125px;
    height:125px;
    margin-right:0.35em;
    margin-left:0.35em;
  }

  .rulebookWrapper{
    flex-direction:column;
    margin-top:10em;
    margin-bottom:0em;
    width:100%;
  }

  .rulebookWrapper > a {
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left:0;
    margin-right:0;
    width:calc(100% - 2em);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------RULEBOOK  */

.rulebookSection{
  margin-bottom:20vh;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SPOTLIGHT CONTAINER */

#spotlightContainer{
  display:flex;
  flex-direction: column;
}

#spotlightContainer > div > div > h1{
  margin-bottom:0 !important;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------FINAL CONTAINER */

#finalContainer {
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top:5vh;
}

#finalContainer > div{
  margin-bottom:10vh;
}

.finalButtonsContainer{
  padding:0;
  width:calc(100% - 4em);
}

.finalButtonsWrapper{
  display:flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .finalButtonsWrapper{
    flex-direction:column;
  }
  .finalButtonsWrapper > div, .finalButtonsWrapper > a{
    width:calc(100% - 2em);
    margin-right:0 !important;
  }
  .finalButtonsWrapper > div, .finalButtonsWrapper > a{
    margin-bottom:1em;
  }
}

.finalButtonsWrapper > div, .finalButtonsWrapper > a{
  margin-right:2em;
}

.finalButtonsWrapper > a, .finalButtonsWrapper > div{
  font-size:1em;
}

/* </editor-fold> */
