/* <editor-fold>--------------------------------------GENERAL */

.mainContentWrapper{
  position:relative;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  color:#323232;
}

.mainpageContainer{
  position:relative;
  display: flex;
  width:100%;
}

.mainpageContainer h1{
  font-size:2.5em;
}

.mainpageContainer p{
  font-size:1em;
}

.mainpageContainer p.noMargin{
  margin:0;
}

/* tablet */
@media only screen and (max-width: 1200px) {

}

/* mobile */
@media only screen and (max-width: 900px) {
  .mainpageContainer h1{
    font-size:2em;
  }

  .mainpageContainer > div:first-child {
    padding-left:2em;
    padding-right:2em;
  }

  .mainpageContainer p{
    display:flex;
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------HERO IMAGE + PARALLAX */

#heroContainer{
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:200%;
  position:relative;
}

.titleWrapper{
  width:auto;
  height:50%;
  justify-content: center;
  display:flex;
}

.lcmContainer{
  margin:auto;
  width:400px;
  padding-bottom:30vh;
}

.lcmImage{
  width:100%;
  height:auto;
  margin:0;
  min-height:271.66px;
  cursor:pointer;
}

.sharehomegame{
  text-align: center;
  width: 100%;
  margin-top: 2em !important;
  font-size: 1em;
  font-family: 'Rowdies-Thin', 'ZenKurenaido Regular';
}

.scrollContainer {
  position:absolute;
  top:calc(100vh - 200px - 6em);
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:200px;
  padding:2em;
}

.scrollContainer > div{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.scrollHorizontalContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.scrollHorizontalContainer:first-child{
  padding-bottom:2em;
}

.scrollHorizontalContainer p{
  margin-bottom:0;
  font-size:0.75em;
  line-height: 100%;
  cursor:pointer;
}

.scrollVerticalContainer{
  height:100px;
}

.scrollHorizontalContainer div:first-child{
  border-right: 0.25px solid #323232;
}

.buttonWrapper{
  display:flex;
  flex-direction: flex-start;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .lcmContainer{
    width:350px !important;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .lcmContainer{
    width:325px !important;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .lcmContainer{
    width:300px !important;
  }
  .sharehomegame{
    width: 100% !important;
    margin-top: 25px !important;
    text-align:center;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SHAREHOME DESCRIPTION */

#descriptionContainer{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color:#323232;
  margin-bottom:50vh;
}

.descriptionOpaque{
  opacity:0;
}

.descriptionWrapper {
  margin-top:4em;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.descriptionWrapper > div {
  padding-left:0;
  padding-right:0;
}

.subtitle{
  font-size: 2em;
  white-space: pre-line;
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  margin:0 !important;
}

.gameDetails{
  font-size:1.25em;
  margin-top:1em;
}

.gameDetails > div {
  display:flex;
}

.gameDetails > div > svg {
  margin-top: 5px;
}

#howToPlay{
  height:25vh;
  margin:auto;
  margin-top:-25vh;
  text-align: center;
  display:flex;
  flex-direction: column;
}

#howToPlay p{
  font-size:0.75em;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .gameDetails{
    font-size:.8em;
  }

  .gameDetails > div > svg {
    margin-top: -2px !important;
  }

  #descriptionContainer{
    margin-bottom:30vh;
  }

  #howToPlay{
    height:20vh;
    margin-top:-10vh;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------CHARACTER DECKS  */

#characterContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  overflow:hidden;
}

.characterTextContainer{
  display:flex;
  text-align:left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:calc(100% - 4em);
  width:40%;
  padding:2em;
  z-index:9;
}

.characterTextContainer h1{
  margin-bottom:0;
  line-height:125%;
}

.characterContainerSVG {
  position:absolute;
  top:15vh;
  left:40vw;
}

.characterContainerSVG p {
  text-align:right;
  transform:rotate(-25deg);
  margin-right:-2em;
  margin-top:1em;
  text-align:right;
  font-size:0.75em;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {

}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .characterContainerSVG {
    left:40vw;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .characterTextContainer{
    width:100%;
    margin:auto;
    max-width:500px;
    text-align:center;
  }
  .characterContainerSVG {
    top:15vh;
    left:60vw;
    transform:scale(0.75);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------EVENTS DECKS  */

#eventsContainer, #goalsContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.eventsLeftContainer, .goalsRightContainer{
  display:flex;
  text-align:right;
  flex-direction: row;
  align-items: center;
  height:calc(100% - 4em);
  width:60%;
  padding:2em;
  z-index:10;
}
.eventsLeftContainer{
  justify-content: flex-end;
}
.goalsRightContainer{
  justify-content: flex-start;
}

.eventsTextContainer, .goalsTextContainer{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.eventsTextContainer{
  text-align:right;
  justify-content: flex-end;
  align-items: flex-end;
}
.goalsTextContainer{
  text-align:left;
  justify-content: flex-start;
  align-items: flex-start;
}

.eventsTextContainer h1, .goalsTextContainer h1{
  margin-bottom:0em;
  line-height:100%;
}

.eventsTextContainer h3, .goalsTextContainer h3{
  white-space: pre-line;
}

.eventsContainerSVG, .goalsContainerSVG {
  position:absolute;
}

#eventsContainerSVGcake{
  top:69vh;
  right:20vw;
}

#eventsContainerSVGlovekey{
  top:15vh;
  right:25vw;
}

#eventsContainerSVGplanet{
  top:20vh;
  left:20vw;
  transform:scale(0.65);
}

#goalsContainerSVGflag{
  top:58vh;
  right:27vw;
  transform:scale(0.65);
}

#goalsContainerSVGscroll{
  top:24vh;
  right:24vw;
  transform:scale(0.65);
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  #eventsContainerSVGcake{
    right:20vw;
    top:65vh;
  }
  #eventsContainerSVGlovekey{
    right:22vw;
  }
  #eventsContainerSVGplanet{
  }
  #goalsContainerSVGflag{
    right:14vw;
  }

  #goalsContainerSVGscroll{
    right:17vw;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  #eventsContainerSVGcake{
    right:65vw;
    top:65vh;
  }
  #eventsContainerSVGlovekey{
    right:6vw;
  }
  .eventsTextContainer {
    max-width:400px;
  }
  #goalsContainerSVGflag{
    right:70vw;
    top:70vh;
  }
  #goalsContainerSVGscroll{
    right:70vw;
    top:17vh;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .eventsTextContainer{
    width:100%;
    margin:auto;
    max-width:500px;
    text-align:center;
  }
  #eventsContainerSVGcake{
    top:65vh;
    right:5vw;
  }
  #eventsContainerSVGlovekey{
    top:23vh;
    right:50vw;
  }
  #eventsContainerSVGplanet{
    top:75vh;
    left:-5vw;
  }
  .eventsLeftContainer {
    padding-left:0 !important;
    padding-right:0 !important;
    width:calc(100% - 4em);
  }
  #goalsContainerSVGflag{
    right:5vw;
    top:60vh;
  }
  #goalsContainerSVGscroll{
    right:47.5vw;
    top:17.5vh;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------GOALS  */

/* </editor-fold> */

/* <editor-fold>--------------------------------------LIKES / HATES  */

#likehateContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  margin-bottom:15vh;
}

@media only screen and (max-width: 1400px) {
  #likehateContainer{
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------MECHANICS CONTAINER */

#mechanicsContainer{
  min-height: 65vh;
  margin-bottom:3em;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:2em;
  width:calc(100% - 4em);
}

.mechanicsWrapper{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.mechanicsWrapper div{
  padding:0em;
  font-size:1.25em;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rowdies-Thin', 'ZenKurenaido Regular';
}

.mechanicsWrapper div > img {
  width:200px;
  height:200px;
}

@media only screen and (max-width: 900px) {
  .mechanicsWrapper li{
    padding:0.25em;
    font-size:1.25em;
  }

  .mechanicsWrapper div > img {
    width:150px;
    height:150px;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SPOTLIGHT CONTAINER */

#spotlightContainer{
  display:flex;
  flex-direction: column;
}

#spotlightContainer > div > div > h1{
  margin-bottom:0 !important;
}

/* mobile stuff */
@media only screen and (max-width: 900px) {
  #spotlightContainer{
    padding-top:2em;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------FINAL CONTAINER */

#finalContainer {
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(rgba(50,50,50,1),rgba(50,50,50,0.75), rgba(255,255,255,1)); */
  /* color:#FFF; */
}

.finalButtonsWrapper{
  display:flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .finalButtonsWrapper{
    flex-direction:column;
  }
  .finalButtonsWrapper > div, .finalButtonsWrapper > a{
    width:calc(100% - 2em);
    margin-right:0 !important;
  }
  .finalButtonsWrapper > div{
    margin-bottom:1em;
  }
}

.finalButtonsWrapper > div{
  margin-right:2em;
}

.finalButtonsWrapper > a, .finalButtonsWrapper > div{
  font-size:0.75em;
  /* color:#FFF !important; */
}

#finalContainer .titleWrapper{
  height:25% !important;
}

#finalContainer .lcmContainer{
  padding-bottom: 0 !important;
}

#finalContainer .sharehomegame{
  display:none !important;
}

/* </editor-fold> */
