/* <editor-fold>--------------------------------------GENERAL */

.mainContentWrapper{
  position:relative;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  color:#323232;
}

.mainpageContainer{
  position:relative;
  display: flex;
  width:100%;
}

.mainpageContainer h1{
  font-size:2.5em;
}

.mainpageContainer p{
  font-size:1em;
}

.mainpageContainer p.noMargin{
  margin:0;
}

/* tablet */
@media only screen and (max-width: 1200px) {

}

/* mobile */
@media only screen and (max-width: 900px) {
  .mainpageContainer h1{
    font-size:1.5em;
    line-height: 125%;
  }

  .mainpageContainer p{
    display:flex;
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------HERO IMAGE + PARALLAX */

#heroContainer{
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:200vh;
  position:relative;
}

.heroImage{
  object-fit: contain;
  position: absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  z-index:-1;
  height:100vh;
}

.heroImage > img {
  height:100%;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .heroImage > img {
    width:100%;
  }
}

.titleWrapper.topOne {
  height:25%;
  margin-top:2%;
  margin-left:25%;
}

.titleWrapper{
  width:auto;
  height:50%;
  justify-content: center;
  display:flex;
}

.lcmContainer.topOne {
  width:400px;
}

.lcmContainer{
  margin:auto;
  width:800px;
  height:100%;
  padding-top:5vh;
  padding-bottom:30vh;
}

.lcmMaskWrapper{
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  -moz-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  -ms-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
  -o-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
}

.lcmMask{
  -webkit-mask-image: url("images/lcm.svg");
  mask-image: url("images/lcm.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 50%;
  mask-position: center;
  /* background: linear-gradient(-15deg, #5F5AA2 25%, #7DAF9C 50%, #DD7373 75%); */
  width:100%;
  height:50%;
}

.lcmMask:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 115%;
  left:0;
  top:-15%;
  z-index: -1;
  background: url("images/background watercolor.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  background-origin: center center;
  animation: rotation 15s linear infinite;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.sharehomegame{
  text-align: center;
  width: 100%;
  margin-top: 2em !important;
  font-size: 1em;
  font-family: 'Roboto Thin';
}

.scrollContainer {
  position:absolute;
  top:calc(100vh - 250px);
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  padding:2em;
}

.topMailButton{
  width:100%;
  margin-left:-1em;
  margin-bottom:2em;
}

.scrollContainer > div{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.scrollHorizontalContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  text-align:center;
  align-items: top;
}

.scrollHorizontalContainer:first-child{
  padding-bottom:1em;
}

.scrollHorizontalContainer p{
  margin-bottom:0;
  font-size:0.85em;
  line-height: 100%;
  cursor:pointer;
}

.mobileTagLine{
  white-space: pre;
  line-height:70%;
  margin-top:0;
}

#animatedScroll {
  animation: scrolling 1s ease-in-out infinite;
}

@keyframes scrolling {
  from {
    height:0;
  }
  to {
    height:50px;
  }
}

.scrollVerticalContainer{
  height:50px;
}

.scrollHorizontalContainer div:first-child{
  border-right: 0.25px solid rgba(0,0,0,.45);
}

.buttonWrapper{
  display:flex;
  flex-direction: flex-start;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .lcmContainer{
    width:700px !important;
  }

  .lcmContainer.topOne{
    width:350px !important;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .lcmContainer{
    width:600px !important;
  }

  .lcmContainer.topOne{
    width:325px !important;
  }
  .titleWrapper.topOne {
    margin-left:50%;
    margin-top:10%;
  }
}


/* larger mobile (for hero image) */
@media only screen and (min-width: 750px) and (max-width: 900px) {
  .lcmContainer.topOne{
    width:400px !important;
    height:100% !important;
  }
  .heroImage{
    top:8% !important;
    width:140vw !important;
    height:auto;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .lcmContainer{
    width:500px !important;
  }
  .lcmContainer.topOne{
    width:350px !important;
    height:100%;
    padding-top:0.5em;
  }
  .sharehomegame{
    width: 100% !important;
    margin-top: 25px !important;
    text-align:center;
  }
  .mobileTagLine{
    margin-top:1em !important;
  }
  .heroImage{
    top:20%;
    width:140vw;
    height:auto;
  }
  .titleWrapper.topOne {
    margin-left:0%;
  }
  .scrollContainer{
    padding:0;
    padding-top:2em;
    width:calc(100vw - 2em);
    top:calc(100vh - 275px);
  }
}

/* low height mobile */
@media only screen and (max-height: 750px) {
  .lcmContainer{
    width:250px !important;
  }
  .lcmContainer.topOne{
    width:300px !important;
    height:100%;
  }
  .heroImage{
    top:15.5%;
    width:140vw;
    height:auto;
  }
  .scrollHorizontalContainer p{
    font-size:0.65em;
  }
  .scrollContainer{
    top:calc(100vh - 260px) !important;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SHAREHOME DESCRIPTION */

#descriptionContainer{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color:#323232;
  margin-bottom:50vh;
}

.descriptionOpaque{
  opacity:0;
}

.descriptionWrapper {
  margin-top:4em;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.descriptionWrapper > div {
  padding-left:0;
  padding-right:0;
}

.descriptionTextWrapper > a{
  margin:auto;
  margin-top:2em;
}

.subtitle{
  font-size: 2em;
  white-space: pre-line;
  font-family: 'Rowdies-Regular', 'NotoSansJP Bold';
  margin:0 !important;
}

/* low height mobile */
@media only screen and (max-width: 900px) {
  .subtitle{
    font-size: 1.5em !important;
  }
  .gameDetails{
    font-size:1em !important;
  }
}

.gameDetails{
  font-size:1.25em;
  margin-top:1em;
}

.gameDetails > div {
  display:flex;
}

.gameDetails > div > svg {
  margin-top: 2px;
}

#howToPlay{
  height:25vh;
  margin:auto;
  margin-top:-25vh;
  text-align: center;
  display:flex;
  flex-direction: column;
}

#howToPlay p{
  font-size:0.75em;
}

/* mobile */
@media only screen and (max-width: 900px) {
  .gameDetails{
    font-size:.8em;
  }

  .gameDetails > div > svg {
    margin-top: -3px !important;
  }

  #descriptionContainer{
    margin-bottom:30vh;
  }

  .descriptionTextWrapper{
    width:calc(100% - 4em);
  }

  .descriptionTextWrapper > a{
    width:calc(100% - 2em);
  }

  #howToPlay{
    height:20vh;
    margin-top:-10vh;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------CHARACTER DECKS  */

#characterContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  overflow:hidden;
}

.characterTextContainer{
  display:flex;
  text-align:left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:calc(100% - 4em);
  width:40%;
  padding:2em;
  z-index:9;
}

.characterTextContainer h1{
  margin-bottom:0;
  line-height:125%;
  max-width:70%;
}

.characterContainerSVG {
  position:absolute;
  top:15vh;
  left:40vw;
}

.characterContainerSVG p {
  text-align:right;
  transform:rotate(-25deg);
  margin-right:-2em;
  margin-top:1em;
  text-align:right;
  font-size:0.75em;
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .characterTextContainer h1, .eventsTextContainer h1, .eventsTextContainer h3, .goalsTextContainer h1, .goalsTextContainer h3{
    max-width:100% !important;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .characterContainerSVG {
    left:40vw;
  }
  .characterTextContainer h1, .eventsTextContainer h1, .eventsTextContainer h3, .goalsTextContainer h1, .goalsTextContainer h3{
    max-width:100% !important;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .characterTextContainer h1, .eventsTextContainer h1, .eventsTextContainer h3, .goalsTextContainer h1, .goalsTextContainer h3{
    max-width:100% !important;
  }
  .characterTextContainer{
    width:100%;
    margin:auto;
    max-width:500px;
    text-align:center;
  }
  .characterContainerSVG {
    top:15vh;
    left:60vw;
    transform:scale(0.75);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------EVENTS DECKS  */

#eventsContainer, #goalsContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.eventsLeftContainer, .goalsRightContainer{
  display:flex;
  text-align:right;
  flex-direction: row;
  align-items: center;
  height:calc(100% - 4em);
  width:60%;
  padding:2em;
  z-index:10;
}
.eventsLeftContainer{
  justify-content: flex-end;
}
.goalsRightContainer{
  justify-content: flex-start;
}

.eventsTextContainer, .goalsTextContainer{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.eventsTextContainer{
  text-align:right;
  justify-content: flex-end;
  align-items: flex-end;
}
.goalsTextContainer{
  text-align:left;
  justify-content: flex-start;
  align-items: flex-start;
}

.eventsTextContainer h1, .goalsTextContainer h1{
  margin-bottom:0em;
  line-height:125%;
  max-width:70%;
}

.eventsTextContainer h3, .goalsTextContainer h3{
  white-space: pre-line;
  max-width:80%;
}

.eventsContainerSVG, .goalsContainerSVG {
  position:absolute;
}

#eventsContainerSVGcake{
  top:69vh;
  right:20vw;
}

#eventsContainerSVGlovekey{
  top:15vh;
  right:25vw;
}

#eventsContainerSVGplanet{
  top:20vh;
  left:20vw;
  transform:scale(0.65);
}

#goalsContainerSVGflag{
  top:58vh;
  right:27vw;
  transform:scale(0.65);
}

#goalsContainerSVGscroll{
  top:24vh;
  right:24vw;
  transform:scale(0.65);
}

/* small desktop */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  #eventsContainerSVGcake{
    right:20vw;
    top:65vh;
  }
  #eventsContainerSVGlovekey{
    right:22vw;
  }
  #eventsContainerSVGplanet{
  }
  #goalsContainerSVGflag{
    right:14vw;
  }

  #goalsContainerSVGscroll{
    right:17vw;
  }
}

/* tablet */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  #eventsContainerSVGcake{
    right:65vw;
    top:65vh;
  }
  #eventsContainerSVGlovekey{
    right:6vw;
  }
  .eventsTextContainer {
    max-width:400px;
  }
  #goalsContainerSVGflag{
    right:70vw;
    top:70vh;
  }
  #goalsContainerSVGscroll{
    right:70vw;
    top:17vh;
  }
}

/* mobile */
@media only screen and (max-width: 900px) {
  .eventsTextContainer{
    width:100%;
    margin:auto;
    max-width:500px;
    text-align:center;
  }
  #eventsContainerSVGcake{
    top:70vh;
    right:5vw;
  }
  #eventsContainerSVGlovekey{
    top:20vh;
    right:10vw;
  }
  #eventsContainerSVGplanet{
    top:75vh;
    left:-5vw;
  }
  .goalsRightContainer{
    width:calc(100% - 4em);
  }
  .eventsLeftContainer {
    padding-left:0 !important;
    padding-right:0 !important;
    width:calc(100% - 4em);
  }
  #goalsContainerSVGflag{
    right:15vw;
    top:70vh;
  }
  #goalsContainerSVGscroll{
    right:7.5vw;
    top:5vh;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------GOALS  */

/* </editor-fold> */

/* <editor-fold>--------------------------------------LIKES / HATES  */

#likehateContainer{
  color:#323232;
  display:flex;
  height:100vh;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  margin-bottom:15vh;
}

@media only screen and (max-width: 1400px) {
  #likehateContainer{
    flex-direction: column;
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------MECHANICS CONTAINER */

#mechanicsContainer{
  min-height: 65vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:2em;
  width:calc(100% - 4em);
}

.mechanicsWrapper{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.mechanicsWrapper div{
  padding:0em;
  font-size:1.25em;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Rowdies-Light', 'NotoSansJP Bold';
}

.mechanicsWrapper div > img {
  width:200px;
  height:200px;
  margin-right:1em;
  margin-left:1em;
}

.rulebookWrapper{
  margin-top:10em;
  display:flex;
  flex-direction: row;
}

.rulebookWrapper > a {
  margin-left:1em;
  margin-right:1em;
}

@media only screen and (max-width: 900px) {
  .mechanicsWrapper li{
    padding:0.25em;
    font-size:1.25em;
  }

  .mechanicsWrapper div > img {
    width:125px;
    height:125px;
    margin-right:0.35em;
    margin-left:0.35em;
  }

  .rulebookWrapper{
    flex-direction:column;
    margin-top:10em;
    margin-bottom:0em;
    width:100%;
  }

  .rulebookWrapper > a {
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left:0;
    margin-right:0;
    width:calc(100% - 2em);
  }
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------SPOTLIGHT CONTAINER */

#spotlightContainer{
  display:flex;
  flex-direction: column;
}

#spotlightContainer > div > div > h1{
  margin-bottom:0 !important;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------FINAL CONTAINER */

#finalContainer {
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top:15vh;
  /* background-image: linear-gradient(rgba(50,50,50,1),rgba(50,50,50,0.75), rgba(255,255,255,1)); */
  /* color:#FFF; */
}

.finalButtonsWrapper{
  display:flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .finalButtonsWrapper{
    flex-direction:column;
  }
  .finalButtonsWrapper > div, .finalButtonsWrapper > a{
    width:calc(100% - 2em);
    margin-right:0 !important;
  }
  .finalButtonsWrapper > div, .finalButtonsWrapper > a{
    margin-bottom:1em;
  }
}

.finalButtonsWrapper > div, .finalButtonsWrapper > a{
  margin-right:2em;
}

.finalButtonsWrapper > a, .finalButtonsWrapper > div{
  font-size:1em;
  /* color:#FFF !important; */
}

#finalContainer .titleWrapper{
  height:25% !important;
}

#finalContainer .lcmContainer{
  padding-bottom: 0 !important;
}

#finalContainer .lcmMaskWrapper{
  padding-bottom: 0 !important;
  display:flex;
  height:800px;
  cursor:pointer;
}

#finalContainer .lcmMask{
  height:100%;
}

@media only screen and (max-width: 900px) {
  #finalContainer .lcmMaskWrapper{
    height:500px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1600px) {
  #finalContainer .lcmMaskWrapper{
    height:650px;
  }
}

#finalContainer .sharehomegame{
  display:none !important;
}

/* </editor-fold> */
