/* <editor-fold>------------------------------------------------------------------GLOBALS */

html {

}

body {
  margin:0;
  padding:0;
  border:0;
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  text-align:center;
  letter-spacing:1px;
  font-size:1.1em;
  color:#323232;
  overflow-x:hidden;
  position:relative;
}

a {
}

h1, h2, h3, h4, h5, p, li, ul, a, span {
  line-height:150%;
}

h2, h2 a {
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
}

h3, p, a, input, li {
  font-family:"Roboto Light";
}

p, li {
  opacity:.85;
}

.prelineWhiteSpace {
  white-space: pre-line;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* to let the image underneath be clicked and dragged */
.nopointerevent{
  pointer-events: none;
}

.fantasyEmphasis {
  background: linear-gradient(-45deg, #5F5AA2 20%, #F1DB4B 40%, #7DAF9C 60%, #DD7373 80%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (min-width: 900px) {
  .is-hidden-desktop{
    display:none !important;
  }
}

@media only screen and (max-width: 900px) {
  .is-hidden-mobile{
    display:none !important;
  }
}

/* </editor-fold> */

/* <editor-fold>------------------------------------------------------------------BUTTONS */

.defaultButton{
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  cursor:pointer;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  background-color:#323232;
  color:#FFF;
  border-radius:4px;
  text-decoration:none;
  border:1px solid transparent;
  box-shadow: 1px 1px 4px 0px #323232;
  line-height:125%;
  display:flex;
  justify-content: center;
  align-items: center;
  width:fit-content;
}

@media only screen and (max-width: 900px) {
  .defaultButton{
    margin:auto;
    width:100%;
  }
}

.defaultButton:active{
  background-color: #474747;
}

.defaultButton.is-inverted{
  background-color:#FFF;
  color:#323232;
}

.defaultButton.is-bordered{
  border: 1px solid #FFF;
}

.defaultButtonIcon{
  width:25px;
  height:25px;
  margin-right:10px;
}

.button{
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  font-size:20px;
  text-transform: uppercase;
  outline:0;
  cursor:pointer;
  padding:10px;
  padding-top:12px;
  border:0;
}

.button.is-rounded{
  border-radius:4px;
}

.button.is-bordered{
  border:4px solid #1F1169;
}

.button.is-transparent{
  background:transparent;
}

.button.is-transparent:active{
  background:#323232 !important;
  color:#FFF !important;
}

.button:active{
  background-color:#323232 !important;
  color:#FFF !important;
}

.button svg {
  padding-right:10px;
}

.button:active svg{
  stroke:#FFF !important;
}

@media only screen and (max-width:600px) {
  .button.hideText svg{
    padding-right:0px;
  }
  .button.hideText span {
    display:none;
  }
}

svg {
  vertical-align:sub;
}

svg.is-flipped{
  transform:scaleX(-1);
}

svg.is-48{
  width:48px;
  height:48px;
}

svg.is-spinning {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  transform-origin:center center;
  padding:0 !important;
  margin:0 !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* </editor-fold> */

/* <editor-fold>------------------------------------------------------------------CONTENT BLOCKS */

.content{
  text-align:center;
  display:block;
  width:100%;
  padding-bottom:25vh;
  margin:auto;
}

.content.max-width{
  max-width:900px;
}

.content p {
  margin-top:0;
}

.contentWrapper{
  margin:auto;
  display:block;
  margin-top:10px;
}

.subcontentWrapper{
  max-width:900px;
  margin:auto;
  padding-left:20px;
  padding-right:20px;
  white-space: pre-line;
}

.subcontentWrapper h1, .subcontentWrapper h2, .subcontentWrapper h3{
  font-weight:normal;
}

@media only screen and (max-width: 900px) {
  .subcontentWrapper.margin-top{
    margin-top:5vh;
  }
}

.subcontentWrapper.min-width{
  max-width:600px;
}

.subcontentWrapper.is-wider{
  max-width:1250px;
}

.subcontentWrapper.border-bottom{
  border-bottom:1px solid rgba(0,0,0,.15);
  margin-bottom:20px;
}

.subcontentWrapper.border-top{
  border-top:1px solid rgba(0,0,0,.15);
  margin-top:20px;
}

.subtitle{
  position:relative;
  word-break:break-word;
  font-weight:normal;
}

.subsubtitle{
  margin-top:0px;
  position:relative;
  font-weight:normal;
}

/* </editor-fold> */

/* <editor-fold>------------------------------------------------------------------TITLE */

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -0px); }
}

.floating-counter {
  animation-name: floating-counter;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-counter {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -5px); }
  100%   { transform: translate(0, -0px); }
}

.lcmContainer{
  margin:auto;
  padding-top:5px;
  width:250px;
}

.lcmImage{
  background:transparent;
  width:100%;
  margin:0;
  min-height:271.66px;
}

.sharehomegame{
  text-align: right;
  width: 109%;
  margin-top: -10px !important;
  font-size: 1.3em;
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
}

/* </editor-fold> */
