html {
  /* margin-left: calc(100vw - 100%); */
}

body {
  margin:0;
  padding:0;
  border:0;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
  text-align:center;
  letter-spacing:1px;
  font-size:1.1em;
  color:#323232;
}

.prelineWhiteSpace {
  white-space: pre-line;
}

#sharehome{
  min-height:100vh;
  position:relative;
  overflow-x:hidden;
}

a {
}

h1, h2, h3, h4, h5, p, li, ul, a, span {
  line-height:150%;
}

h2, h2 a {
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
}

h3, p, a, input {
  font-family:"Roboto Thin";
}

p, li {
  opacity:.85;
}

svg {
  vertical-align:sub;
  opacity:.6;
}

svg.is-flipped{
  transform:scaleX(-1);
}

svg.is-48{
  width:48px;
  height:48px;
}

svg.is-spinning {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  transform-origin:center center;
  padding:0 !important;
  margin:0 !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.button svg {
  padding-right:10px;
}

@media only screen and (max-width:600px) {
  .button.hideText svg{
    padding-right:0px;
  }
  .button.hideText span {
    display:none;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* to let the image underneath be clicked and dragged */
.nopointerevent{
  pointer-events: none;
}

.button{
  background-color: #5F5AA2;
  color:white;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
  font-size:20px;
  text-transform: uppercase;
  outline:0;
  cursor:pointer;
  padding:10px;
  padding-top:12px;
  border:0;
}

.button.is-rounded{
  border-radius:4px;
}

.button.is-bordered{
  border:4px solid #1F1169;
}

.button.is-transparent{
  background:transparent;
}

.button.is-transparent:active{
  background:rgba(40,40,40,1) !important;
  color:white !important;
}

.button:active{
  background-color:#1F1169 !important;
  color:white !important;
}

.button:active svg{
  stroke:white !important;
}

.content{
  text-align:center;
  display:block;
  width:100%;
  padding-bottom:25vh;
  margin:auto;
}

.content.max-width{
  max-width:750px;
}

.content p {
  margin-top:0;
}

.contentWrapper{
  margin:auto;
  display:block;
  margin-top:10px;
}

.subcontentWrapper{
  max-width:500px;
  margin:auto;
  margin-top:3vh;
  padding-left:20px;
  padding-right:20px;
}

.subcontentWrapper.max-width{
  max-width:750px;
}

.subcontentWrapper.is-wider{
  max-width:1250px;
}

.subcontentWrapper.border-bottom{
  border-bottom:1px solid white;
  margin-bottom:20px;
}

.subcontentWrapper.border-top{
  border-top:1px solid white;
  margin-top:20px;
}

.subtitle{
  position:relative;
  word-break:break-word;
}

.subtitleBackPageArrow{
  position:absolute;
  left:-40px;
  cursor:pointer;
  top:50%;
  transform:translateY(-50%);
}

.subsubtitle{
  margin-top:0px;
  position:relative;
}

.lcmContainer{
  width:300px;
  margin:auto;
  margin-top:3vh;
}

/* mobile stuff */
@media only screen and (max-width: 600px) {
  .lcmImage{
    width:200px !important;
  }
  .sharehomegame{
    text-align: center !important;
    margin-top: 0 !important;
  }
}

.lcmImage{
  width:100%;
}

.sharehomegame{
  text-align: right;
  width: 100%;
  margin-top: -25px;
  font-size: 20px;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
}

hr{
  border-color:rgba(0,0,0,0.15);
}

input[type="text"]:not(.cardViewerInput){
  padding:10px;
  padding-top:16px;
  line-height:100%;
  margin-bottom:0;
  font-size:20px;
  vertical-align:middle;
  min-width:300px;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
}
