#sharehome[language="ja"] {
  font-size:.99em !important;
}

#sharehome[language="ja"] .navbarBottomWrapper .emailWrapper p {
  font-size: .9em;
}

#sharehome[language="ja"] .subscribeButton {
  font-size: 1.1em;
}

#sharehome[language="ja"] .languageChangeWrapper {
  font-size: 1.4em;
}
