.navBarMain{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar{
  position:fixed;
  top:0;
  text-align:left;
  margin:0;
  transition:left 0.5s;
  z-index:99;
  height:100vh;
  background:#5F5AA2;
  box-shadow:0px 0px 10px 1px #000;
}

.navbar .title{
  font-size:30px;
  margin-bottom:0;
  position:absolute;
  padding:0;
  top:15px;
  right:15px;
  width:auto;
  opacity:0;
  color:white;
  transition:opacity 0.25s;
}

.navbar p, .navbar a{
  color:white;
}

.titleWrapper{
  position:relative;
}

.navbar .lcmImage {
  width:175px;
  margin: auto;
  display: block;
  margin-top: 3vh;
}

.navbar .sharehomegame {
  color: white;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  margin-top: 10px !important;
  margin-bottom: 0;
}

.navbar.is-active .title{
  opacity:1;
  transition:opacity 0.75s;
}

.navbar .title:hover:after{
  content:'シェアホーム';
  font-size:20px;
  font-family:'ZenKurenaido Regular';
}

.navbarButtonWrapper{
  margin-top:15px;
}

.navbarButton{
  display:inline-block;
  text-align:left;
  text-decoration:none;
  text-transform:uppercase;
  width:calc(100% - 44px);
  user-select:none;
  -webkit-user-drag:none;
  padding:20px;
  border:0;
  margin:0;
}

.navbarButton.is-active{
  border-right:4px solid #DD7373;
  color:black;
  background:white;
}

.navbarButton.is-active svg{
  stroke:black;
}

.navbarBottomWrapper .languageChange {
  text-decoration: underline;
  cursor:pointer;
}

.navbarBottomWrapper p {
  margin-bottom:0px;
  margin-left:20px;
}

.navbarBottomWrapper .emailP {
  margin-top:0;
}

.navbarBottomWrapper .emailWrapper {
  color:white;
  margin:20px;
}

.navbarBottomWrapper .emailWrapper p {
  margin-left:0;
  margin-top:0;
  overflow:hidden;
}

.navbarBottomWrapper .emailWrapper .emailInput {
  width: calc(100% - 94px);
  border:1px solid white;
}

.navbarBottomWrapper .emailWrapper .subscribeButton {
  border:1px solid white;
}

.navbarOpenClose{
  position:fixed;
  top:0px;
  height:40px;
  width:40px;
  cursor:pointer;
  color:black;
  font-size:25px;
  display:flex;
  justify-content:center;
  align-items:center;
  outline:0;
}
