/* <editor-fold>------------------------------------------------------------------NAVBAR MAIN */

.navbarOpenClose{
  position:fixed;
  top:0px;
  height:40px;
  width:40px;
  cursor:pointer;
  color:black;
  font-size:25px;
  display:flex;
  justify-content:center;
  align-items:center;
  outline:0;
}

.navBarMain{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbarClass{
  position:fixed;
  top:0;
  text-align:left;
  margin:0;
  transition:left 0.5s, right 0.5s;
  z-index:99;
  height:100vh;
  box-shadow:0px 0px 10px 1px #000;
}

#navbar{
  border-radius: 0 4em 0 0;
}

#sidebar{
  border-radius: 0 0 0 4em
}

.navbarClass p, .navbarClass a, .navbarClass h1, .navbarClass h2, .navbarClass h3{
  color:#323232;
}

/* </editor-fold> */

/* <editor-fold>------------------------------------------------------------------TITLE */

.titleWrapper{
  position:relative;
}

.navbarClass .lcmImage {
  width:175px;
  margin: auto;
  display: block;
  margin-top: 3vh;
  box-shadow:0px 0px 10px rgb(0 0 0 / 33%);
  border-radius: 100%;
}

.navbarClass .sharehomegame {
  color: #323232;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  margin-top: 10px !important;
  margin-bottom: 0;
  font-family: 'AmaticSC Regular', 'ZenKurenaido Regular';
}

/* </editor-fold> */

/* <editor-fold>------------------------------------------------------------------BUTTONS */

.navbarButtonWrapper{
  margin-top:15px;
}

.navbarButton{
  display:inline-block;
  text-align:left;
  text-decoration:none;
  text-transform:uppercase;
  width:calc(100% - 44px);
  user-select:none;
  -webkit-user-drag:none;
  padding:20px;
  border:0;
  margin:0;
}

/* mobile stuff */
@media only screen and (max-height: 900px) {
  .navbarButton{
    padding-top:10px;
    padding-bottom:10px;
  }

  .emailWrapper{
    margin-top:10px !important;
  }

  .forminputText{
    margin-bottom: 10px;
  }
}

.navbarButton.is-active{
  border-right:4px solid #DD7373;
  color:#FFF;
  background:#000;
}

.navbarButton.is-active svg{
  stroke:#FFF;
}

/* </editor-fold> */

/* <editor-fold>------------------------------------------------------------------LANGUAGE / BOTTOM */

.languageChangeWrapper {
  margin-bottom:0px;
  margin-left:20px;
}

.languageChangeSpan {
  text-decoration: underline;
  cursor:pointer;
}

.formWrapper {
  position:relative;
}

.emailWrapper {
  color:white;
  margin:20px;
}

.forminputText {
  margin-left:0;
  margin-top:0;
  margin-bottom:20px;
  overflow:hidden;
}

.emailInput {
  width: calc(75% - 20px);
  height:100%;
  outline: 0;
  line-height: 100%;
  padding: 10px;
  padding-top: 12px;
  border-radius:0px 0 0 1em;
  font-size: 1em;
  border:1px solid rgba(0,0,0,.15);
}

.subscribeButton {
  border-radius: 0 1em 0 0;
  position: absolute;
  right: 0;
  padding: 10px;
  height: 100%;
  width: 25%;
  font-size: 1em;
  color:#FFF;
  border:1px solid rgba(0,0,0,.15);
}

/* </editor-fold> */
