/* <editor-fold>--------------------------------------NAVBAR TOGGLE */

.fixedButtonsWrapper{
  position:fixed;
  top:0px;
  right:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index:99999;
}

#emailToggleButtonMobile{
  display:none;
}

#emailToggleButtonMobile.is-active{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

#navbarOpenClose{
  height: 42px;
  width: 58px;
  cursor: pointer;
  color: #323232;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  margin-left: 20px;
}

.navbarClass:not(.is-active) #navbarOpenClose {
  background:#FFF;
  /* box-shadow:1px 1px 4px 0px #323232; */
  border-radius:4px;
}

@media only screen and (max-width: 900px) {
  #emailToggleButtonMobile{
    font-size:.75em;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
  }
  #navbarOpenClose{
    height: 32px;
    width: 54px;
  }
}

/* </editor-fold>

/* <editor-fold>--------------------------------------NAVBAR */

.navbarClass{

}
.navbarClass.is-active{

}

.navbarMain{
  /* background-color:rgba(255,255,255,.95); */
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40vw, rgba(255,255,255,1) 100%);
  left:100%;
  top:0;
  position:fixed;
  width:125%;
  height:100%;
  z-index:99998;
  transition-property: left;
  transition-duration: 0.25s;
  overflow:hidden;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .navbarMain{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35vw, rgba(255,255,255,1) 100%);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .navbarMain{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 33vw, rgba(255,255,255,1) 100%);
  }
}

/*@media only screen and (min-width: 750px) and (max-width: 900px) {
  .navbarMain{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25vw, rgba(255,255,255,1) 100%);
  }
}

@media only screen and (min-width: 575px) and (max-width: 750px) {
  .navbarMain{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15vw, rgba(255,255,255,1) 100%);
  }
}

@media only screen and (max-width: 575px) {
  .navbarMain{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8vw, rgba(255,255,255,1) 100%);
  }
} */

@media only screen and (max-width: 900px) {
  .navbarMain{
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 8vw, rgba(255,255,255,1) 100%);
  }
}

.navbarMain.is-active{
  left:-25%;
}

.navbarChildrenWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  height:100%;
  width:100vw;
  position:absolute;
  right:0;
  top:0;
  /* fade in the menus after navbar scrolls in */
  opacity:0;
  transition:none;
}

.navbarMain.is-active .navbarChildrenWrapper{
  opacity:1 !important;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
}

.navbarChildren {
  height:50%;
  margin:auto;
}

.navbarClass p, .navbarClass a, .navbarClass h1, .navbarClass h2, .navbarClass h3{
  color:#323232;
}

@media only screen and (max-width: 900px) {
  .navbarMain{
    flex-direction: column;
  }
  .navbarMain .navbarChildren {
    opacity:0;
    width:0;
  }
  .navbarMain .navbarChildren.is-active{
    width:calc(100% - 4em) !important;
    opacity:1 !important;
    transition-property:opacity;
    transition-duration:0.25s;
  }
}

.navbarCenterBorder{
  border-left:1px solid rgba(0,0,0,.1);
  height:50%;
  width:0;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------NAVBAR LEFT */

.navbarLeftWrapper{
  display:flex;
  width:calc(50% - 4em);
  height:100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbarButtonWrapper{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color:#323232;
}

.navbarButton{
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  padding:0.5em;
  padding-top:0.25em;
  padding-bottom:0.25em;
  font-size:2em;
  text-align:left;
  text-decoration:none;
  text-transform:none;
  user-select:none;
  -webkit-user-drag:none;
  border:0;
  margin:0;
  border-left:4px solid transparent;
}

.navbarButton.is-active{
  border-left:4px solid #DD7373;
  color:#828282;
}

.navbarButton:hover{
  color:#828282;
}

.navbarButton:active{
  color:#b3b3b3;
}

.languageChangeWrapper {
  font-size:1.25em;
  padding-left: 1em;
  padding-top: 3em;
}

.languageChangeSpan {
  font-family: 'Rowdies-Regular', 'ZenKurenaido Regular';
  cursor:pointer;
}

/* </editor-fold> */

/* <editor-fold>--------------------------------------NAVBAR RIGHT */

.navbarRightWrapper{
  display:flex;
  width:calc(50% - 4em);
  justify-content: center;
  align-items: center;
  padding:2em;
  position:relative;
}

.emailWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formPrompt {
  font-size:1.5em;
}

.formWrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}

.forminputText{
  max-width:500px;
}

.forminputText a{
  color:#323232;
}

.emailInput {
  padding:1em;
  background:transparent;
  font-family:"Roboto Light";
  font-size:1em;
  margin-bottom:2em;
  border:0;
  border-bottom:1px solid #323232;
  outline:0;
  width: 100%;
  color:#323232;
  text-align:center;
  line-height:100%;
}

.subscribeButton{
  padding-left:4em;
  padding-right:4em;
  font-size:1em;
}

/* </editor-fold> */
