.photoContent {
  width:100%;
  margin-bottom:100px;
}

.photoSubcontent{
  margin-top:25px;
}

.photoSubcontent:first-child{
  margin-top:0px !important;
}

.photoWrapper{
  width:100%;
}

.photoWrapper img{
  width:calc(100% - 30px);
  padding:15px;
}

.caption{
  margin:0;
  margin-top:-20px !important;
}
